<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Grams</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <style>
      html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}</style>
  </head>

    <body class="text-center">
      <form action="/todo/add/" method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Grams</h1>
        if todolist[0] 
<% todolist.forEach(function(todo, index) { %>
    <% sumGrams = sumGrams + Number(todo); %>
<% }); %>
        <p><strong><%= dailyGrams - sumGrams %></strong> out of <strong><%= dailyGrams %></strong> grams are available for consumption. <br>You have eaten <strong><%= sumGrams %></strong> grams.<br><br>
  
          <br>
          
                <p></p>
                <input type="number" class="form-control" name="newtodo" placeholder="Enter your eaten grams" id="newtodo" autofocus />
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Add!</button>
            </p>
        
        <ul class="list-group">
        <% todolist.forEach(function(todo, index) { %>
            <li class="list-group-item"><a href="/todo/delete/<%= index %>"><i class="far fa-trash-alt" style="color: red;"></i></a> <a href="/todo/delete/<%= index %>"><%= todo %></a></li>
        <% }); %>
        </ul>
</form>
    </body>

</html>
