<!DOCTYPE html>
<% todolist.forEach(function(todo, index) { %>
    <% sumGrams = sumGrams + Number(todo); %>
<% }); %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Grams</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
<link rel="stylesheet" href="../style.css">
  </head>

    <body class="text-center">
      <form action="/todo/add/" method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Grams</h1>

        <p><strong><%= dailyGrams - sumGrams %></strong> out of <strong><%= dailyGrams %></strong> grams are available for consumption. <br>You have eaten <strong><%= sumGrams %></strong> grams.<br><br>
  
          <br>
          
                <p></p>
                <input type="number" class="form-control" name="newtodo" placeholder="Enter your eaten grams" id="newtodo" autofocus />
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Add!</button>
            </p>
        </form>
        <ul style="list-style-position: inside;">
        <% todolist.forEach(function(todo, index) { %>
            <li><a href="/todo/delete/<%= index %>"><i class="far fa-trash-alt" style="color: red;"></i></a> <%= todo %></li>
        <% }); %>
        </ul>

    </body>

</html>
